<body class="text-center">
<br>
<h1 class="h3 mb-3 fw-normal">Please sign up</h1>

<img src="https://c.tenor.com/mCiM7CmGGI4AAAAM/naruto.gif" alt="">


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-floating">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control"  %>
      <%= f.label :email, class:"floatingInput" %><br />
  </div>
<br>
  <div class="form-floating">
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.label :password, class:"floatingInput"  %>
  </div>
<br>
  <div class="form-floating">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
    <%= f.label :password_confirmation, class:"floatingInput" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Sign up" , class:"btn btn-primary btn-lg" %> 
<% end %>
<br>
<%= render "devise/shared/links" %>

